<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_UploadAndDownload:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_UploadAndDownload_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_UploadAndDownload" />
          <element id="module-output" name="SpringMVCDemo1" />
          <element id="module-output" name="SpringMVCDemo2" />
          <element id="module-output" name="SpringMVCDemo3" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib0" />
          <element id="library" level="project" name="lib1" />
          <element id="library" level="project" name="lib2" />
          <element id="library" level="project" name="lib3" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_UploadAndDownload/web/Web" />
      <element id="javaee-facet-resources" facet="SpringMVCDemo1/web/Web" />
      <element id="javaee-facet-resources" facet="SpringMVCDemo2/web/Web" />
      <element id="javaee-facet-resources" facet="SpringMVCDemo3/web/Web" />
    </root>
  </artifact>
</component>